body{
    background-color:#ffffcc;
    margin: 0%;
    padding: 0%;
}
.head{
    margin: 0 0 3px 0;
    width: 100%;
    height: 50px;
    /* border: 2px solid rgb(0, 255, 64); */
    background-color: #5c145c;
    display: flex;
    justify-content: center;
    position: relative;
   
}
.head .inhead{
   margin: 0;
    width: 60%;
    /* border: 2px solid blue; */
    background-color: #5c145c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inhead #username{
    /* border: 1px solid red; */
    flex-grow: 2;
    text-align: end;
    padding-right: 25px;
    
}
.mbt{  
  border: none;
  height: 25px;
  background-color:white;
  color: rgb(41, 13, 199);
  /* margin-right: 8px;      */
} 