
.customers-table{
    background-color: #5c145c;
    width: 920px;
    margin: auto;
    margin-top: 20px; 
    border-collapse: collapse; 
}
.table-data{
    text-align: center;
    color:  #ffff4d;
}
.table-head{
    color:  white;
    font-size: x-large; 
    text-align: center;  
}
.table-head >tr th{
    border: 1px solid black;
    border-color: rgba(251, 255, 0, 0.966);
    border-collapse: collapse; 
    padding: 10px;
    
}
.table-data > tr td {
    border: 1px solid black;
    border-color: rgba(251, 255, 0, 0.966);
    padding: 10px; 
}